ip: 192.168.10.10
memory: 4096
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: 'C:\Dev\officialdarksheao\projects\ToddlerTimeTrends\ToddlerTimeTrendsWeb'
        to: /home/vagrant/code
sites:
    -
        map: trends.test
        to: /home/vagrant/code/public
databases:
    - homestead
    - trends
name: toddlertimetrendsweb
hostname: todlertimetrendsweb
